@import 'variables';

// add scss variables to css variables for theme toggle
:root{
    --page-background: #{ $white };
    --nav-background: #{$dark};
    --text-color: #{$dark};
    --light: #{$light};
    --white: #{$white};
    --gray: #{$gray};
    --card-background: #{$light};
}

// darktheme
.darktheme{
    --page-background: #{ $darkgray };
    --gray: #{$gray}; 
    --nav-background: #{$dark};
    --text-color: #{$gray};
    --card-background: transparent;
}

// theme related styles
#app{
    background-color: var(--page-background);
    color: var(--text-color);
    transition: all ease-in 0.75s;
    nav{
        background-color: var(--nav-background);
        color: var(--gray);
        transition: all ease-in 0.75s;
    }
    .repo-card{
        background: var(--card-background);
    }

}
@keyframes fadeInTextDelay {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeOutTextDelay {
    from {opacity: 0;}
    to {opacity: 0.5;}
}
#app.lighttheme .repo-description::after{
    animation-name: fadeOutTextDelay;
    animation-duration: 1s;
    background: linear-gradient(0deg, rgba(243,239,239,1) 35%, rgba(243,239,239,0.25) 100%);    
}
#app.darktheme .repo-description::after{
    background: linear-gradient(0deg, rgba(68,68,68,1) 35%, rgba(68,68,68,0.25) 100%);
    animation-name: fadeInTextDelay;
    animation-duration: 3s;
}
// basic layouts
#app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// fade text
// .repo-description{
//     transition: background ease-out 0.75s;
// }

.showRepo-cards .repo-description{
    position: relative;
    height: 4rem;
    overflow: hidden;
}
.showRepo-cards .repo-description::after{
    content: '';
    width: 100%;
    left: 0;
    height: 1rem;
    position: absolute;
    bottom: 1px;
    // transition: background ease 0.75s;
}
// buttons