@import 'variables';

// add scss variables to css variables for theme toggle
:root{
    --page-background: #{ $white };
    --nav-background: #{$dark};
    --footer-background: #{$dark};
    --card-background: #{$light};
    --text-color: #{$dark};
    --gray:#{$gray};
    --link-color: #{$theme};
    --button-color: #{$theme};
}

// darktheme
.darktheme{
    --page-background: #{ $dark };
    --nav-background: #{$black};
    --footer-background: #{$black};
    --card-background: #{$darkcard};
    --text-color: #{$light};
    --gray:#{$gray};
    --link-color: #{$theme};
    --button-color: #{$theme};
}

// theme related styles
#app{
    // color: rgba(255,255,255,0.65);
    // background-color: #24292e;
    background-image: url(https://desktop.github.com/images/star-bg.svg);
    // background-repeat: repeat-x;
    // background-position: center 0, 0 0, 0 0;
    // background-color: #2b2b2d;
    background-color: var(--page-background);
    color: var(--text-color);
    transition: all ease-in 0.75s;
    nav, footer{
        background-color: var(--nav-background);
        color: var(--gray);
        transition: all ease-in 0.75s;
    }
    .repo-card{
        background: var(--card-background);
    }
    .topic-card{
        background: var(--page-background);
        border: 1px solid var(--gray);
    }
    .topic-tag{
        background: var(--card-background);
        color: var(--link-color);

        &:hover{
            color: var(--text-color);
        }
    }
    .swiper-pagination-progressbar-fill{
        background-color: var(--link-color);
    }

}
@keyframes fadeInTextDelay {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeOutTextDelay {
    from {opacity: 0;}
    to {opacity: 0.5;}
}
#app.lighttheme .repo-description::after{
    animation-name: fadeOutTextDelay;
    animation-duration: 2s;
    background: linear-gradient(0deg, rgba(255,255,255,1) 35%, rgba(255,255,255,0.25) 100%);    
}
#app.darktheme .repo-description::after{
    background: linear-gradient(0deg, rgba(51, 35, 49, 1) 35%, rgba(51, 35, 49, 0.25) 100%);
    animation-name: fadeInTextDelay;
    animation-duration: 3s;
}
// basic layouts
#app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// fade text
// .repo-description{
//     transition: background ease-out 0.75s;
// }

.showRepo-cards .repo-description{
    position: relative;
    height: 4rem;
    overflow: hidden;
}
.showRepo-cards .repo-description::after{
    content: '';
    width: 100%;
    left: 0;
    height: 1rem;
    position: absolute;
    bottom: 1px;
    // transition: background ease 0.75s;
}

// buttons
.github-icon-hollow{
    fill: none !important;
    stroke: currentColor;
}
.btn-toggled{
    border-radius: 4px;
    background: rgba($color: #000000, $alpha: .35);
    color: #aaa;
    &:focus{
        outline-color: teal;
    }
}