@import 'variables';

// add scss variables to css variables for theme toggle
:root{
    --page-background: #{ $white };
    --nav-background: #{$dark};
    --footer-background: #{$dark};
    --card-background: #{$light};
    --text-color: #{$dark};
    --gray:#{$gray};
    --graydark:#{$graydark};
    --link-color: #{$theme};
    --link-hover-color: #{$accent};
    --button-color: #{$theme};
}

// darktheme
.darktheme{
    --page-background: #{$dark};
    --nav-background: #{$black};
    --footer-background: #{$black};
    --card-background: #{$darkcard};
    --text-color: #{$light};
    --gray:#{$gray};
    --graydark:#{$graydark};
    --link-color: #{$accent};
    --link-hover-color: #{$theme};
    --button-color: #{$theme};
}

// theme related styles
#app{
    background-image: url(https://desktop.github.com/images/star-bg.svg);
    // background-repeat: repeat-x;
    // background-position: center 0, 0 0, 0 0;
    // background-color: #2b2b2d;
    background-color: var(--page-background);
    color: var(--text-color);
    transition: all ease-in 0.75s;
    nav, footer{
        background-color: var(--nav-background);
        color: var(--gray);
        transition: all ease-in 0.75s;
    }
    a{
        color: var(--link-color);
        &:hover{
            color: var(--link-hover-color);
        }
    }
    .repolist-heading{
        background-color: var(--page-background);
        transition: all ease-in 0.75s;
    }
    .btn-app{
        background: var(--button-color);
        border-radius: 5px;
        color: var(--text-color);
        transition: all ease 0.35s;
        &:hover{
            background: var(--link-color);
        }
    }
    .repo-card{
        background: var(--card-background);
        transition: all ease-in 0.75s;
    }
    .topic-card{
        background: var(--page-background);
        border: 1px solid var(--gray);
        transition: all ease-in 0.75s;
        
        .topic-card-name{
            color: var(--link-color);    
            &:hover{
                color: var(--link-hover-color);
            }
        }
    }
    .topic-tag{
        background: var(--card-background);
        color: var(--link-color);

        &:hover{
            color: var(--link-hover-color);
        }
    }
    .swiper-pagination-progressbar-fill{
        background-color: var(--link-color);
    }

}
@keyframes fadeInTextDelay {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeOutTextDelay {
    from {opacity: 0;}
    to {opacity: 0.5;}
}
#app.lighttheme .repo-description::after{
    animation-name: fadeOutTextDelay;
    animation-duration: 2s;
    background: linear-gradient(0deg, rgba(253,237,249,1) 35%, rgba(253,237,249,0.25) 100%);    
}
#app.darktheme .repo-description::after{
    background: linear-gradient(0deg, rgba(51, 35, 49, 1) 35%, rgba(51, 35, 49, 0.25) 100%);
    animation-name: fadeInTextDelay;
    animation-duration: 3s;
}
// basic layouts
html{
    @media(max-width: 440px){
        font-size: 14px;
    }
}
#app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

// fade text
// .repo-description{
//     transition: background ease-out 0.75s;
// }

.showRepo-cards .repo-description{
    position: relative;
    height: 4rem;
    overflow: hidden;
}
.showRepo-cards .repo-description::after{
    content: '';
    width: 100%;
    left: 0;
    height: 1rem;
    position: absolute;
    bottom: 1px;
    // transition: background ease 0.75s;
}

.loadingRepos{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    background: rgba(#000000, 0.75);
    z-index: 15;

    &.loading-icon{
        // position: absolute;
        // left: 45%;
        text-align: center;
        padding-top: 4rem;

        span{
            font-size: 3rem;
            color: var(--gray);
        }
    }
}
.highlight-topic-name{
    border-bottom: 1px dashed var(--link-hover-color);
}
// buttons
.github-icon-hollow{
    fill: none !important;
    stroke: currentColor;
}
.btn-display-cards, .btn-display-list{
    color: var(--graydark);
}
.btn-toggled{
    border-radius: 4px;
    background: rgba($color: var(--link-hover-color), $alpha: .35);
    &:focus{
        outline-color: var(--link-hover-color);
    }
    span{
        color: var(--link-color);
    }
}
.btn-showmore{
    background-color: var(--link-hover-color);
    border: none;
    border-radius: 5px;
    transition: all ease 0.35s;
    color: white;
    &:hover{
        background-color: var(--link-color);
    }
}
.btn-backToTop{
    background-color: var(--graydark);
    padding: 2px 8px;
    border-radius: 50%;
    color: black;
    position: fixed;
    right: 10px;
    bottom: 2rem;
    font-size: 1rem;
}